/* 
Orden para generar estilos en CSS
1. Posicionamiento
2. Modelo de caja 
3. Tipografia
4. Visuales (border, shadows)
5. Otros 
 */

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --beige: #FFEEDB;
  --skin: #FFD8CC;
  --salmon: #FFBD9B;
  --dark-blue:#0A1D37;
  --black:#333333;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  padding: 0 15px;
}

header img{
  width: 30px;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: white;
} 

.info-container {
  display: grid;
  background: var(--skin);
  justify-items: center;
  padding: 14px;
}

.info-container h1{
  font-size: 3.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--dark-blue);
}

.info-container img {
  width: 150px;
  align-self: center;
}

.info-container p{
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--black);
}


.info-container button{
  align-self: center;
  background-color: #0A1D37;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--black);
}

.main-container h2 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 60px;
  color: var(--dark-blue);
}

.main-container details {
  margin-bottom: 8px;
  font-size: 1.6rem;
  font-weight: 600;

}

.main-container p {
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  opacity: 50%;
}

iframe {
  align-self: center;
  margin-top: 20px;
  height: 215px;
  width: 260px;
}

.calculator-container {
  display: grid;
  padding: 14px 14px;
  background-color: var(--dark-blue);
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

.calculator-field {
  display: grid;
  justify-content: center;
  row-gap: 15px;
  
}

.calculator-container h2 {
  margin: 10px 0;
  font-size: 2.6rem;
}

.calculator-container h3 {
  font-size:1.8rem ;
}

.calculator-container p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
}

.btn {
  justify-self: center;
  width: 170px;
  height: 48px;
  border-radius: 24px;
  background-color: var(--salmon);
  outline: none;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.input {
  height: 28px;
  width: 50px;
  border-radius: 3px;
  padding: 0 10px;
  outline: none;
  border: none;
  justify-self: flex-end;
  background-color: var(--beige);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
}

.radio-input {
  justify-self: center;
  font-size: 2rem;
}

.calculator-field--2, .calculator-field--4{
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  align-items: center;
}

.calculator-field--2 h3, .calculator-field--4 h3 {
  grid-column: 1 / 3;
}

.subtitle, .note {
  grid-column: 1 / 3;
}

.note {
  border-radius: 15px;
  padding: 10px;
  font-weight: 200;
  background-color:rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}

.note span {
  font-weight: 700;
}

.calculator-field--2 button, .calculator-field--4 button  {
  grid-column: 1 / 3;
}


.calculator-result, .advices-container {
  display: grid;
  row-gap: 15px;
  justify-content: center;
  padding: 14px;
}

.calculator-result h2 {
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 2.6rem;
  justify-self: center;
}

.calculator-result p, .advices-subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}

.advices-container {
  background-color: var(--skin);
  text-align: center;
}

.advices-container h2 {
  margin: 10px 0;
  color: var(--dark-blue);
  font-size: 2.6rem;
  justify-self: center;
  text-align: center;
}

.card {
  display: grid;
  row-gap: 10px;
  justify-items: center;
  margin-top: 50px;
  padding: 20px;
}

.card img {
  width: 48px;
}

.card--title {
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

.card--description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
}


.hide {
  display: none;
}

